In [22]:
import pandas as pd
import numpy as np

In [55]:
df_original = pd.read_csv("relatorios/tabela_ex3.csv", index_col=0)

In [91]:
df = (
    pd.concat([
        industria
            .sort_values(by = "RCA", ascending = False)
            .reset_index(drop = True).reset_index() 
        for industria in 
            [df_original.query(f'year == 2016 and industry_name == "{industria}"') for industria in df_original.industry_name.unique()]
        ]
    )
    .rename({"index": "posicao"}, axis = 1)
    .assign(
        posicao = lambda _: _.posicao + 1,
        participacao_industria = lambda _: (_.total_pais_industria * 100 / _.total_pais).round(5).astype(str) + "%"
    )
)

In [75]:
def relatorio_pais(pais = "BRA"):
    return (df
        .query(f"exporter_iso3 == '{pais}'")
        .filter(["exporter_iso3", "industry_name", "RCA", "posicao", "participacao_industria"])
        .sort_values(by = "RCA", ascending = False)
    )

In [93]:
relatorio_pais(pais = "BRA")

,exporter_iso3,industry_name,RCA,posicao,participacao_industria
2,BRA,Soybeans,31.701207,3,9.65624%
8,BRA,Sugar,29.627022,9,4.66483%
3,BRA,Mining of iron ores,21.146495,4,9.82208%
17,BRA,"Beverages, nec",16.553806,18,2.40337%
10,BRA,Tobacco leaves and cigarettes,15.478390,11,1.00146%
...,...,...,...,...,...
57,BRA,Prepared vegetables,0.001373,58,1e-05%
52,BRA,Mining of lignite,0.000819,53,1e-05%
108,BRA,Mining of hard coal,0.000097,109,4e-05%
47,BRA,Publishing of recorded media,0.000004,48,0.0%
59,BRA,Raw and refined sugar and sugar crops,0.000000,60,0.0%